.bundle
db/*.sqlite3
log/*.log
tmp/**/*
/config.yml
/.idea/
/.buildpath
/.project
/*.log
.sass-cache/
log/newrelic_agent_store.*
*.coffee~
*.hamlc~

/config/application.yml
/config/database.yml
lib/bower_components/
node_modules/